In [1]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv(r"C:\Users\Anshu Kumar\OneDrive\Documents\project\sugar\Diabetes dataset.csv")
# print(df.head())
df

      Age        BMI  Glucose  BloodPressure FamilyHistory  Diabetic
0    51.0  21.119129    192.0      95.000000            No       0.0
1    43.0  25.436085     73.0     112.000000            No       1.0
2    25.0  19.137683    107.0      88.000000           Yes       0.0
3    66.0        NaN     80.0      99.000000           Yes       0.0
4    55.0        NaN    116.0     116.000000            No       0.0
..    ...        ...      ...            ...           ...       ...
195  46.0        NaN     99.0     105.000000           Yes       0.0
196  74.0  22.619721    195.0      97.000000            No       0.0
197  41.0  38.112320      NaN      90.000000           Yes       0.0
198  66.0        NaN    154.0     171.039473            No       0.0
199  58.0  34.902176     98.0     114.000000            No       0.0

[200 rows x 6 columns]

In [22]:
# df.info()
print(df.isnull().sum())

Age              19
BMI              19
Glucose          17
BloodPressure    20
FamilyHistory     0
Diabetic         20
dtype: int64

In [24]:
for col in ['Age', 'BMI', 'Glucose', 'BloodPressure']:
    df[col] = df[col].fillna(df[col].median())  # Assign back so it updates

df['Diabetic'] = df['Diabetic'].replace(r'^\s*$', np.nan, regex=True)


# Drop rows where 'Diabetic' is missing
df = df.dropna(subset=['Diabetic']).copy()
# # Check if nulls remain
print(df.isnull().sum())
# print(df.head())

Age              0
BMI              0
Glucose          0
BloodPressure    0
FamilyHistory    0
Diabetic         0
dtype: int64

In [26]:
# print(df.head())
df.head(20)

           Age        BMI     Glucose  BloodPressure FamilyHistory  Diabetic
0    51.000000  21.119129  192.000000           95.0            No       0.0
1    43.000000  25.436085   73.000000          112.0            No       1.0
2    25.000000  19.137683  107.000000           88.0           Yes       0.0
3    66.000000  33.990356   80.000000           99.0           Yes       0.0
4    55.000000  33.990356  116.000000          116.0            No       0.0
5    23.000000  21.879730  174.000000          105.0           Yes       1.0
6   135.127608  22.069684  158.000000           81.0           Yes       0.0
7    63.000000  20.959257  133.000000           93.0           Yes       0.0
8    27.000000  38.653667  120.000000           68.0           Yes       0.0
9    76.000000  21.546311  139.000000           98.0            No       1.0
10   69.000000  27.408690   70.000000          119.0           Yes       0.0
11   60.000000  41.687803  185.000000          110.0           Yes       1.0
12   77.000000  28.386727  117.000000           92.0           Yes       0.0
13   22.000000  44.562458  190.000000          110.0            No       0.0
14   51.000000  41.825451  137.000000           73.0            No       0.0
15   44.000000  40.808634   83.000000           86.0           Yes       1.0
16   65.000000  42.312961  178.000000          108.0           Yes       1.0
17   30.000000  30.699411  178.000000           92.0           Yes       1.0
18   51.000000  21.335193  318.955757           79.0           Yes       1.0
20   72.000000  38.328398  177.000000          108.0            No       0.0

In [27]:
# 1. Check for missing values
print(df.isnull().sum())

# 2. Check data types
print(df.dtypes)

# 3. Check for duplicates
print(df.duplicated().sum())

# 4. Quick summary of numeric columns
print(df.describe())

# 5. Look at unique values in categorical columns
print(df['FamilyHistory'].unique())
print(df['Diabetic'].unique())

# 6. Check shape (rows, columns)
print(df.shape)

Age              0
BMI              0
Glucose          0
BloodPressure    0
FamilyHistory    0
Diabetic         0
dtype: int64
Age              float64
BMI              float64
Glucose          float64
BloodPressure    float64
FamilyHistory     object
Diabetic         float64
dtype: object
0
              Age         BMI     Glucose  BloodPressure    Diabetic
count  180.000000  180.000000  180.000000     180.000000  180.000000
mean    52.366783   33.753074  147.092232      94.946637    0.609337
std     23.851774   11.064926   52.048350      23.746508    0.752135
min     20.000000   18.077110   70.000000      60.000000    0.000000
25%     34.750000   25.708063  114.000000      79.750000    0.000000
50%     51.000000   33.990356  139.000000      92.000000    0.500000
75%     62.000000   38.168955  172.000000     105.250000    1.000000
max    135.127608   71.684465  318.955757     171.039473    2.968063
['No' 'Yes']
[0.         1.         2.96806292]
(180, 6)